version https://git-lfs.github.com/spec/v1
oid sha256:39c6e58c1e504ab16fd7ac6fb5029d6caec20af82b61db2e34280bfab66036b5
size 11332
